<div class="slice-card card-default">
  <div class="card-overlay"></div>
  <div class="card-media">
    <div class="card-media-content"></div>
    <div class="card-badge"></div>
  </div>
  <div class="card-content">
    <div class="card-header">
      <h3 class="card-title"></h3>
      <button class="card-toggle" aria-label="Toggle card details">
        <slice-icon name="chevronDown" iconStyle="outline"></slice-icon>
      </button>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
      <div class="card-text-tooltip"></div>
    </div>
    <div class="card-details">
      <div class="card-details-content"></div>
    </div>
  </div>
  <div class="card-actions"></div>
  <div class="card-progress"></div>
</div>
